@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rubik");

html {
  background: url("../images/cinema.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 6rem;
  color: white;
}

a {
  text-decoration: none;
  color: #5f97a8;
}

button {
  width: 200px;
  padding: 10px 5px;
  font-size: 1.2rem;

  background: white;
  color: #5f97a8;

  border: none;
  border-radius: 25px;
  
  
}

button:hover {
  background-color: #5f97a8;
  color: white;
}

button:active {
  transform: translateY(2px);
}

.containerHome{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.contentHome{
  padding: 70px 70px;
  width: 500px;
  display:flex;
  flex-flow: column;
  justify-content: right;
}

.allContainer{
  display: flex;
  flex-flow: column nowrap;
}

.headerMovies{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.headerMovies h2{
  font-size: 2rem;
}

.containerMovies{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.5);
}

.card{
  display:flex;
  flex-flow: column nowrap;
  align-items: center;

  margin: 20px 40px;

  font-size: 1.2rem;
  color:black;
}

.card a{
  color: #710040;
  padding: 5px 10px;

  border: 2px solid #710040;
  border-radius: 25px;
}

.card a:hover{
 background-color:#A3074D;
 color:white;
 border:none;
}

.card-title{
  font-family: "Open-sans", sans-serif;
  font-size: 0,9em;
}

.footer{
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 20px 10px;
}

.footer a{
  font-family: "Rubik", sans-serif;
  font-size: 1em;

  border: 1px solid white;
  padding: 10px 20px;
background-color: #A3074D;
  color: white
}

.footer a:hover{
  background-color: transparent;
}

.movieContainer{
  width: 900px;
  font-family: "Rubik", sans-serif;
  display:flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 70px auto;
  padding: 20px 10px;

  background-color: rgba(255, 255, 255, 0.5);
}

.imageContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 30px 30px;
}

.dataContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: right;
}

.listaShowtimes li{
    display: inline-block;
    margin: 0;
    padding: 0;

}


