<div class="allContainer">
    <div class="headerMovies">
        <h2>Ironhack Cinema</h2>
        <p>Click on the movie to check the showtimes</p>
    </div>

    <div class="containerMovies">
        {{#each movies}}
        {{> movieCard this}}
        {{/each}}
    </div>
    <div class="footer">
        <a href="/">Back to Home</a>
    </div>
</div>